body {
  color: #6e6e6e;
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
}

header a {
  border-bottom-color: rgba(255, 255, 255, 0.35);
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline dotted;
}

.logo {
  background: #4eb980;
  color: #ffffff;
  cursor: default;
  display: inline-block;
  font-size: 1.5em;
  height: 2.35em;
  line-height: 2.35em;
  margin: 0 0 0.75em 0;
  text-align: center;
  width: 2.35em;
  z-index: 1;
}

.reseau a {
  cursor: pointer;
  color: #ffffff;
}

.reseau :hover {
  background: rgba(141, 215, 176, 0.6);
}

.logo.reseau {
  border: solid 1px rgba(224, 224, 224, 0.75);
  margin-top: 1.5em;
  margin-right: 0.25em;
  margin-left: 0.25em;
  font-size: 1em;
}

.w-100 {
  width: 100%;
}

.vw-100 {
  width: 100vw;
}

.w-85 {
  width: 85%;
}

.w-82 {
  width: 82%;
}

.h-100 {
  height: 100%;
}

.h-80 {
  height: 80%;
}

.h-15v {
  height: 15vh;
}

.h-55v {
  height: 55vh;
}

.br-100 {
  border-radius: 100%;
}

.image {
  background-image: url("https://html5up.net/uploads/demos/directive/images/pic01.jpg"), url("https://html5up.net/uploads/demos/directive/assets/css/images/overlay.png");
  opacity: 1, 0;
  background-size: contain;
  color: #ffffff;
  display: inline-block;
  font-size: 5em;
  line-height: 2.35em;
  text-align: center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.image.middle {
  background-image: url("https://html5up.net/uploads/demos/directive/images/pic02.jpg"), url("https://html5up.net/uploads/demos/directive/assets/css/images/overlay.png");
  opacity: 1, 0;
  background-size: contain;
  color: #ffffff;
  display: inline-block;
  font-size: 5em;
  line-height: 2.35em;
  text-align: center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.image.down {
  background-image: url("https://html5up.net/uploads/demos/directive/images/pic03.jpg"), url("https://html5up.net/uploads/demos/directive/assets/css/images/overlay.png");
  opacity: 1, 0;
  background-size: contain;
  color: #ffffff;
  display: inline-block;
  font-size: 5em;
  line-height: 2.35em;
  text-align: center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.image:hover {
  opacity: 0.6, 0.8;
}

.image a:hover {
  font-size: 1.5em;
}

.image a {
  color: #ffffff;
}

h1 {
  font-size: 1em;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.75em;
  letter-spacing: 0.125em;
  text-align: center;
}

h2 {
  font-size: 1.25em;
  letter-spacing: 0.125em;
  line-height: 1.75em;
  color: #ffffff;
  font-weight: 700;
  border-right-width: 0px;
  border-left-width: 0px;
}

h1 br {
  display: none;
}

h5 {
  font-size: 1em;
}

p {
  font: inherit;
  line-height: 1.75em;
  font-size: 1em;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("https://html5up.net/uploads/demos/directive/assets/css/images/top-1280.svg"), url("https://html5up.net/uploads/demos/directive/assets/css/images/overlay.png"), url("https://html5up.net/uploads/demos/directive/images/header.jpg");
  background-position: bottom center, top left, center center;
  background-repeat: repeat, repeat, no-repeat;
  background-size: 1280px 184px, auto, cover;
  padding: 3em 0 7em 0;
  background-size: cover;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  margin-bottom: 10px;
}

.head::before {
  background: rgba(224, 224, 224, 0.75);
  content: "";
  left: 50%;
  position: absolute;
  width: 1px;
  z-index: 0;
  opacity: 0.15;
  top: 0;
  height: calc(100% - 20px);
}

.head::after {
  background: rgba(224, 224, 224, 0.75);
  content: "";
  left: 50%;
  position: absolute;
  width: 1px;
  z-index: 0;
}

.head p br {
  display: none;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main ::after {
  background: rgba(224, 224, 224, 0.75);
  content: "";
  left: 50%;
  position: absolute;
  width: 1px;
  z-index: 1;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  border: solid 1px rgba(224, 224, 224, 0.75);
  margin-bottom: 15px;
  margin-top: 20px;
}

.c-texte {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.c-texte.end {
  padding-left: 1em;
  padding-right: 1em;
  border-top: solid 1px rgba(224, 224, 224, 0.75);
  margin-top: 30px;
}

.svg::after {
  background: rgba(224, 224, 224, 0.75);
  content: "";
  display: block;
  height: calc(100% - 287px);
  left: 50%;
  position: absolute;
  width: 1px;
}

footer {
  background-color: #4eb980;
  text-align: center;
  color: #ffffff;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

.svg {
  background-image: url("https://html5up.net/uploads/demos/directive/assets/css/images/bottom-3200.svg");
  background-position: top center;
  background-size: cover;
  background-repeat: repeat-x;
}

.name {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
}

.message {
  margin-top: 5px;
  margin-bottom: 15px;
}

input[type=text], input[type=email], input[type=button], select, textarea {
  border: solid 1px rgba(224, 224, 224, 0.75);
  border-radius: 4px;
  height: 5vh;
  background-color: #4eb980;
  color: inherit;
}

textarea {
  padding: 0.5em 0.75em;
}

input[type=button] {
  color: #ffffff;
  background: #544d55;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 0.125em;
  line-height: 3.25em;
  min-width: 15em;
  width: 95%;
  height: auto;
  margin-bottom: 20px;
}

input[type=button]:hover {
  background-color: rgba(84, 77, 85, 0.9);
}

input[type=submit] {
  width: 85%;
  color: #4eb980;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #ffffff;
  border-radius: 4px;
  height: 6vh;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 0.125em;
}

input[type=text]:active {
  background: rgba(141, 215, 176, 0.6);
}

input[type=email]:active {
  background: rgba(141, 215, 176, 0.6);
}

textarea:active {
  background: rgba(141, 215, 176, 0.6);
}

.bouton:hover {
  background-color: #4eb980;
  color: #ffffff;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.copyright {
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.copyright p {
  font-size: 0.75em;
  margin-bottom: 5em;
}

.icone {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.reseau a {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

.reseau :hover {
  background: rgba(141, 215, 176, 0.6);
}

/*font-family: 'Source Sans Pro', sans-serif*/
@media screen and (min-width: 700px) {
  .rw-60 {
    width: 60%;
  }
  .rw-55 {
    width: 55%;
  }
  .rw-57 {
    width: 57%;
  }
  .rw-100 {
    width: 100%;
  }
  .rwe-20 {
    width: 20.5em;
  }
  .rwe-41 {
    width: 41em;
  }
  .rhe-20 {
    height: 20em;
  }
  .rh-6 {
    height: 6vh;
  }
  .rh-30 {
    height: 30vh;
  }
  .rh-100 {
    height: 100vh;
  }
  .logo {
    font-size: 2.25em;
  }
  h2 {
    font-size: 2.25em;
  }
  h1 {
    font-size: 1.35em;
  }
  h1 br {
    display: block !important;
  }
  .head p br {
    display: block !important;
  }
  .head p {
    font-size: 1.25em;
    margin-top: -20px;
    margin-bottom: 200px;
  }
  .container {
    flex-direction: row;
    margin: 0;
    border: 0;
  }
  .container.row-r {
    flex-direction: row-reverse;
    text-align: end;
  }
  .container.border.bis {
    flex-direction: column;
    margin-top: 5em;
  }
  .container.border {
    border: solid 1px rgba(224, 224, 224, 0.75);
    border-left: 0;
    border-right: 0;
  }
  .container.o-1 {
    margin-top: 40px;
  }
  .c-texte.right {
    align-items: start;
    text-align: start;
    padding-left: 1em;
  }
  .c-texte.left {
    align-items: end;
    text-align: end;
    padding-right: 1em;
  }
  .c-texte.right p {
    padding-left: 2em;
  }
  .c-texte.left p {
    padding-right: 2em;
  }
  .c-texte.left h1 {
    padding-right: 1.25em;
  }
  .c-texte.right h1 {
    padding-left: 1.25em;
  }
  h5 {
    font-size: 1.35em;
  }
  footer {
    padding-left: 0em;
    padding-right: 0em;
  }
  .svg {
    margin-bottom: 60px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .name {
    font-size: 13pt;
    margin-right: 5px;
  }
  .message {
    margin-top: 25px;
    font-size: 13pt;
  }
  input[type=submit] {
    width: 25%;
  }
  input[type=button] {
    width: 30%;
  }
  .copyright {
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
  .copyright br {
    display: none;
  }
  .head::before {
    height: calc(100% - 25px);
  }
  .image a {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .fa-solid {
    font-size: 15vh;
    padding-top: 10vh;
  }
  .image a:hover {
    font-size: 2em;
  }
}

/*# sourceMappingURL=output.css.map */
